<div class="rg-dialog-support">
    <div class="rg-message ui-content ui-state-highlight ui-corner-all"></div>
    <div class="rg-email">
        <label for="rg-input-email">Your email:</label>
        <br>
        <input id="rg-input-email" type="text" name="email" class="ui-widget-content"/>
    </div>
    <div class="rg-request">
        <label for="rg-input-request">request</label>
        <br>
        <textarea id="rg-input-request" name="request" class="ui-widget-content"></textarea>
    </div>
    <div class="rg-error ui-content ui-state-error ui-corner-all"></div>
</div>