<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>$title</title>
<link rel="stylesheet" href="https://api.reportgrid.com/css/rg-charts.css">
$if(rgcss,'<link rel="stylesheet" href="https://api.reportgrid.com/css/colors/'+rgcss+'">\n')<script src="https://api.reportgrid.com/js/reportgrid-charts.js"></script>
<script>
function init() {

  ReportGrid.$chart_type("#chart", {
    axes : $axes,
    load : $load,
    options : $indent(options, 4)
  });

}
</script>
</head>
<body onload="init()">
    <div id="chart"></div>
</body>
</html>