<div class="fieldset">
    <dl>
        <dt>path</dt>
        <dd class="path">/</dd>
        <dt>name</dt>
        <dd class="name"></dd>
        <dt>type</dt>
        <dd class="type">
            <!--
            <select class="type">
                <option value="upload">Upload</option>
                <option value="url">Reference URL</option>
                <option value="text">Paste Data</option>
            </select>
            -->
        </dd>
        <!--
        <dt class="upload">select file</dt>
        <dd class="upload"><input type="file" class="input-upload"></dd>

        <dt class="url">URL</dt>
        <dd class="url"><input type="text" class="input-url"></dd>

        <dt class="text">paste your json</dt>
        <dd class="text"><textarea class="input-text"></textarea></dd>
-->
        <dt>fields</dt>
        <dd class="fields"></dd>
    </dl>
    <div class="actions"></div>
</div>