<div>
    <div class="main-container" style="width: 100%; height: 100%">
        <div class="datasources ui-layout-west pane">
            <div class="toolbar toolbar-tall ui-layout-north pane ui-widget-header">
                <div class="toolbar-description">data sources</div>
                <div class="toolbar-main"></div>
                <div class="toolbar-context"></div>
            </div>
            <div class="tree ui-layout-center pane"></div>
        </div>
        <div class="main-splitter ui-layout-center pane">
            <div class="datasource ui-layout-north pane">

            </div>
            <div class="dataviewer ui-layout-center pane">

            </div>
        </div>
    </div>
</div>