<div class="rg-builder ui-layout-container">
    <div class="mainbar ui-layout-north pane ui-widget-header"></div>
    <div class="system ui-layout-west pane">
        <div class="data ui-layout-center pane">
            <div class="toolbar ui-layout-north pane ui-widget-header"></div>
            <div class="tree ui-layout-center pane"></div>
        </div>
        <div class="reports ui-layout-south pane">
            <div class="toolbar ui-layout-north pane ui-widget-header"></div>
            <div class="tree ui-layout-center pane"></div>
        </div>
    </div>
    <div class="main ui-layout-center pane">
<!--        <div class="editor-support ui-layout-center pane"> -->
            <div class="builder ui-layout-center pane">
                <div class="chart ui-layout-center pane ui-widget-header"></div>
                <div class="options ui-layout-south pane ui-widget-header"></div>
            </div>
            <div class="support ui-layout-east pane"></div>
<!--        </div> -->
    </div>
</div>