<div class="rg-builder ui-layout-container">
    <div class="mainbar ui-layout-north pane ui-widget-header">
        <div class="toolbar-main"></div>
        <div class="toolbar-context"></div>
    </div>
    <div class="reports ui-layout-west pane">
        <div class="toolbar toolbar-tall ui-layout-north pane ui-widget-header">
            <div class="toolbar-description">reports</div>
            <div class="toolbar-main"></div>
            <div class="toolbar-context"></div>
        </div>
        <div class="tree ui-layout-center pane"></div>
    </div>
    <div class="main ui-layout-center pane">
        <div class="builder ui-layout-center pane">
            <div class="toolbar ui-widget-header ui-layout-north">
                <div class="toolbar-actions tabs-container">
                    <div class="editor-tabs">
                        <ul></ul>
                    </div>
                </div>
                <div class="toolbar-context">
                </div>
            </div>
            <div class="editor ui-layout-center pane">

            </div>
        </div>
    </div>
</div>