<div>
    <div class="main-container" style="width: 100%; height: 100%">
        <div class="datasources ui-layout-west pane">
            <div class="toolbar ui-layout-north pane ui-widget-header">
                <div class="toolbar-description">data sources</div>
                <div class="toolbar-main"></div>
                <div class="toolbar-context"></div>
            </div>
            <div class="tree ui-layout-center pane"></div>
        </div>
        <div class="main-splitter ui-layout-center pane">
            <div class="datasource ui-layout-north pane">

            </div>
            <div class="dataviewer ui-layout-center pane">

            </div>
        </div>
    </div>

<!--
    <div class="fieldset">
        <dl>
            <dt>current folder</dt>
            <dd><span class="folder"></span></dd>
            <dt>name</dt>
            <dd><input type="text" class="name"></dd>
        </dl>
    </div>
    <div class="tabs">
        <ul>
            <li><a href="#rb-tabs-url">URL</a></li>
            <li><a href="#rb-tabs-cp">Copy & Paste</a></li>
            <li><a href="#rb-tabs-file">File</a></li>
        </ul>
        <div id="rb-tabs-url">
            <div class="fieldset">
                <dl>
                    <dt>url to JSON resource</dt>
                    <dd><input type="text" class="url"></dd>
                </dl>
            </div>
        </div>
        <div id="rb-tabs-cp">
            <p>TO DO</p>
        </div>
        <div id="rb-tabs-file">
            <p>TO DO</p>
        </div>
    </div>
    <div class="fieldset">
        <dl>
            <dt>fields</dt>
            <dd><span class="fields"></span></dd>
        </dl>
    </div>
-->
</div>