.rg-builder.ui-widget-content {
    border: 0;
}

.rg-builder {
    font-size: 73%;
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";

    .mainbar {
//        height: 38px;
    }

    .system,
    .main,
//    .builder,
    .data,
    .reports {
        border:0 !important;
    }

    .builder {
        border-top: 0;
        border-bottom: 0;
    }

    .reports {
        .tree {
            border-bottom: 0;
        }
    }

    .support {
        border-bottom: 0;
    }
/*
    .builder .ui-layout-resizer-open {
        padding-bottom: 1px !important;
    }
*/
/*
    .chart {
        border-top: 0;
    }
*/
    .ui-layout-resizer-east,
    .ui-layout-resizer-west {
//        border:0 !important;
    }

    .ui-layout-resizer-north,
    .ui-layout-resizer-south {
//        border:0 !important;
    }

    .ui-layout-toggler {
//        border: 0;
    }

    .ui-layout-resizer {
        border-radius: 0;
    }

    .data {
        .toolbar {
            border-top: 0;
        //        line-height: 17px;
        }
    }

    .toolbar {
//        border-top: 0 !important;
        border-bottom: 0 !important;
        vertical-align: baseline !important;
    }

    .toolbar-actions,
    .toolbar-context {
        margin: 5px;
        line-height: 24px;
    }

    .mainbar .toolbar-actions,
    .mainbar .toolbar-context {
        position: absolute;
        line-height: 36px;
    }

    .mainbar {
        height: 38px;
    }

    .ui-widget-content.support {
        border-top: 0;
    }

    .toolbar-actions button,
    .toolbar-context button {
        height: 24px;
    }

    .toolbar-context {
        position: absolute;
        right: 0;
        top: 0;
    }

    .toolbar-description {
        margin: 4px 5px;
    }

    .toolbar-main {
        float: left;
        margin-left: 5px;
    }

    .toolbar-context {
        position: relative;
        float: right;
        margin-right: 5px;
    }

    .system {
        .toolbar-context {
            margin-top: 0;
        }
    }

    .toolbar-main button,
    .toolbar-context button {
        width: 2.4em;
        height: 24px;
    }
}