@import "elements";
@import "css/jquery-pnotify/jquery.pnotify.default.css";
@import "css/jquery-minicolors/jquery.miniColors.css";
@import "css/jquery-slickgrid/slick.grid.css";

@optionWidth: 170px;
@optionLabelWidth: 90px;
@chartIconSize: 24px;
@numberEditorWidth: 50px;
@numberEditorReducedWidth: 32px;
@colorEditorWidth: 52px;
@miniEditorWidth: 65px;
@paletteColorWidth: 12px;
@paletteColorHeight: 12px;

.ui-pnotify, .ui-pnotify-history-container, .rg-el, .rg-el.ui-widget {
  font-size: 73%;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ui-pnotify > .ui-widget.ui-pnotify-shadow {
  position: relative;
}

.ui-pnotify h4, .ui-pnotify h5, .ui-pnotify h6 {
  margin: 0;
  margin-bottom: 4px;
}

.rg-el .datasource-form .actions {
  float: right;
}

.ui-pnotify .actions {
  position: absolute;
  bottom: 3px;
  right: 4px;
  text-align: right;
}

.ui-pnotify .actions label {
  font-size: 83%;
  font-style: italic;
}

.ui-pnotify .actions input[type="checkbox"] {
  margin: 0 6px;
}

.ui-pnotify .textarea {
  margin: 8px 4px 0 0;
}

.ui-pnotify .textarea textarea {
  resize: none;
  font-family: monospace;
  font-size: 13px;
  outline: 0;
  width: 100%;
  height: 7.4em;
}

.ui-pnotify .footer {
  font-size: 83%;
  font-style: italic;
  text-align: right;
}

.ui-pnotify ul.menu {
  max-height: 420px;
  overflow: auto;
  padding-right: 4px;
}

.ui-pnotify ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui-pnotify ul.menu > li {
  padding: 4px 8px 6px;
  position: relative;
  margin: 0;
}

.ui-pnotify ul.menu > li:last-child {
  margin-bottom: 0;
}


.ui-pnotify .history {
  max-height: 420px;
  overflow: auto;
  padding-right: 4px;
}

.ui-pnotify .history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui-pnotify .history-item {
  padding: 4px 8px 6px;
  position: relative;
}

.ui-pnotify .history ul li {
  margin-bottom: 4px;
}

.ui-pnotify .history ul li:last-child {
  margin-bottom: 0;
}

.ui-pnotify .history pre {
  white-space: pre;
  margin: 0;
  padding: 0;
  font-size: 130%;
  float:left;
}

.ui-pnotify .history .header {
  font-weight: bold;
  font-size: 83%;
  float: left;
  width: 6em;
  clear: left;
}

.ui-pnotify .history .info {
  font-style: italic;
  font-size: 83%;
  padding-top: 8px;
  clear: left;
}

.ui-pnotify .history .toolbar {
  position: absolute;
  right: 3px;
  bottom: 2px;
}

.ui-pnotify .clear {
  clear: both;
}

.ui-pnotify span.label {
  display: block;
  float: left;
  width: 100px;
}

.ui-pnotify .selection input[type="number"] {
  width: 5em;
}

.ui-pnotify .selection.ui-content {
  margin-bottom: 4px;
  width: 240px;
  line-height: 2em;
  padding: 0 0.2em;
}

.ui-pnotify .selection.ui-content select {
  width: 138px;
}

.ui-pnotify .selection.ui-content:last-child {
  margin-bottom: 0;
}

.rg-builder.ui-widget-content {
  border: 0;
}

.rg-el.ui-dialog {
  .ui-dialog-content {
    padding: 0.5em 0.25em;
  }
}

.rg-builder,
.rg-el {
  font-size: 73%;
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";

  .mainbar {
//        height: 38px;
  }

  .tiny {
    font-size: 85%;
  }

  .small {
    font-size: 93%;
  }

  .system,
  .main,
//    .builder,
  .data,
  .reports {
    border: 0;
  }

  .builder {
    border-top: 0;
    border-bottom: 0;
  }

  .reports {
    .tree {
      border-bottom: 0;
    }
  }

  .editor.pane {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .editor {

    .loader {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
    }
  }

  .support {
    border-bottom: 0;
  }
/*
  .builder .ui-layout-resizer-open {
      padding-bottom: 1px !important;
  }
*/
/*
  .chart {
      border-top: 0;
  }
*/
  .ui-layout-resizer-east,
  .ui-layout-resizer-west {
//        border:0 !important;
  }

  .ui-layout-resizer-north,
  .ui-layout-resizer-south {
//        border:0 !important;
  }

  .ui-layout-toggler {
//        border: 0;
  }

  .ui-layout-resizer {
    border-radius: 0;
  }

  .data {
    .toolbar {
      border-top: 0;
    //        line-height: 16px;
    }
  }

  .builder {
    .toolbar {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  .toolbar {
    border-bottom: 0;
    vertical-align: baseline;
  }

  .toolbar-actions,
  .toolbar-context {
    margin: 5px;
    line-height: 24px;
  }

  .toolbar-tall {
    .toolbar-actions,
    .toolbar-context {
      margin: 18px 5px 5px;
    }
  }

  .mainbar .toolbar-actions,
  .mainbar .toolbar-context {
    position: absolute;
    line-height: 36px;
  }

  .mainbar {
    height: 38px;
  }

  .ui-widget-content.support {
    border-top: 0;
  }

  .toolbar-actions button,
  .toolbar-context button {
    height: 24px;
  }

  .toolbar-context {
    position: absolute;
    right: 0;
    top: 0;
  }

  .toolbar-description {
    margin: 4px 5px;
  }

  .toolbar-main {
    float: left;
    margin-left: 5px;
  }

  .toolbar-context {
    float: right;
    margin-right: 5px;
  }

  .system {
    .toolbar-context {
      position: relative;
      margin-top: 0;
    }
  }

  .toolbar-main button,
  .toolbar-context button {
    width: 24px;
    height: 24px;
  }

  .toolbar-main .ui-buttonset .ui-button,
  .toolbar-context .ui-buttonset .ui-button {
    margin-right: -2px;
  }

  .tabs-container.ui-tabs {
    border: 0;
    margin-top: 4px;
    margin-left: 3px;
    background-color: transparent;
    background-image: none;

    .ui-tabs-nav {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      background-image: none;
    }
  }

  .jstree li.root-node > ul > li {
    margin-left: 0;
  }

  .jstree {
    overflow : auto;
  }

  .jstree.jstree-default.jstree-focused {
    background-color: transparent;
  }

  .dimension {
//        background-color: #eee;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    .receptor {
//            border: 1px solid #e9e9e9;
      padding: 2px;
      margin: 1px;
    }
    .dimension-receptor {
      min-height: 20px;
      .dimension-placeholder {
        width: @optionWidth - 4;
        height: 1em;
        display: inline-block;
      }
    }
    .ui-state-hover,
    .ui-state-active {
      display : block; // !important;
    }
    ul.dimension-receptor,
    ul.dimension-receptor li {
      padding: 0;
      margin: 0;
      list-style: none;
      cursor: pointer;

    }
    .ui-sortable-disabled {
      .opacity(0.5);
    }
  }

  .selectmenu {
    .dropdown {
      margin: 0 0.5em;
    }

    button span {
      display: inline-block;
      vertical-align: middle;
    }

    button span.text {
/*      margin-left: 0.5em; */
    }

    button .chart-icon {
      margin-right: 0.5em;
    }

    button .ui-icon {
      vertical-align: sub;
    }
  }

  .dimensions-container {
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-position: 50% 0%;

    .name {
      vertical-align: baseline;
//      padding: 0.4em 0.2em 0.3em 2em;
      font-size: 93%;
    }

    .name:first-child {
//      padding-left: 0;
    }

    .name:after {
//      content: ": "
    }

    .dimension {
      margin: 0;
    }

    .dimension:last-child {
      margin-bottom: 2px;
    }

    .pane {
      float: left;
      margin: 5px 0 0 5px;
    }

    .fields {
      overflow: auto;
      height: 95px;
//      border: 1px solid red;
    }

    .pair {
//      border: 1px solid green;
      float: left;
      text-align: center;
      margin: 2px;
      padding: 2px 4px;
    }

    .chartselector-container {

    }

    .dimensionsoptions-container {
      float: none;
      position: absolute;
      top: 0;
      left: 220px;
      right: 0;
    }
  }

  .options-container {
    overflow: auto;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;


    .option-editor {
      clear: left;
      position: relative;

      .name {
        float: left;
        width: @optionLabelWidth;
        text-align: right;
        vertical-align: baseline;
        padding: 0.4em 0.2em 0.3em 0.2em;
        font-size: 93%;
      }
      .name:after {
//        content: ": "
      }

      .control-container {
        float: left;
      }

      .option {
        float: left;
        margin: 0;
        min-width: 2em;
        min-height: 1.6em;

        input[type="text"] {
          width: @optionWidth;
        }

        input[type="number"]
        {
          text-align: right;
          width: @numberEditorWidth;
        }

        input.color
        {
          width: @colorEditorWidth;
          font-family: monospace;
        }
        input[type="text"],
        input[type="number"] {
          border-top: none;
          border-left: none;
          border-right: none;
        }

        .subeditor {
          input {
            width: @miniEditorWidth;
          }
        }

        .unit {
          padding-left: 1px;
          font-size: 93%;
        }

        .subeditor {
          float: left;
        }
      }

      .multi {
        background-color: #ee5757;
        float: left;
      }

      button.swap-option {
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-left: 3px;
        /*
        float: left;
        */
        position: absolute;
        display: block;
      }

      .ui-icon {
        margin-top: -9px;
        margin-left: -9px;
      }

      input.template,
      input.expression {
        font-family: Menlo, monospace;
        font-size: 85%;
      }

      select {
        max-width: @optionWidth;
      }

      select.with-editor {
        max-width: @optionWidth - @miniEditorWidth;
      }
    }

    .option-editor.multiline {
      .option {
          float: none;
          .subeditor {
            float: none;
          }
      }
    }

    .fields {

      .option-editor.inline {
        clear: none;

        .name {
          width: inherit;
        }

        .clr {
          clear: none;
        }
      }

      .option-editor.reduce {
        input[type="number"]
        {
          width: @numberEditorReducedWidth;
        }
      }

      .option-editor.inline.first {
        .name {
          width: @optionLabelWidth;
        }
      }

      .option-editor.inline.last {
        .option {
        //        clear: left;
        }
      }
    }

    fieldset {
      margin: 0;
      padding: 0;
//      border-top: 0;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;

      .fields {
        overflow: auto;
      }
    }

    fieldset:first-child {
      border-top: 0;
    }
  }

  .datasource-form {
    textarea,
    input[type="text"] {
      width: 450px;
    }

    textarea {
      height: 4em;
    }
  }

  .group-header {
    margin: 0;
    padding: 0.2em 0.5em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 93%;
  }

  .chart-container {
    overflow: auto;
  }

  .clr {
    clear : left;
  }

  ul.color-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0 0 0 2px;
      width: @paletteColorWidth;
      height: @paletteColorHeight;
      float: left;
      display: block;
    }
  }

  .datasource-preview {
    width: 100%;
    height: 100%;
  }

  .fieldset {
    dt {
      clear: left;
    }

    dt {
      float: left;
      width: 70px;
      margin-top: 2px;
      margin-bottom: 8px;
    }

    dt:after {
      content:":"
    }

    dd {
      float: left;
      margin: 0;
    }

    .actions {
      clear : left
    }
  }

  div.error,
  dd.error {
    padding: 4px;
  }

  .chart_container {
    .outer-center {
      float: right;
      right: 50%;
      position: relative;
    }
    .inner-center {
      float: right;
      right: -50%;
      position: relative;
    }
    .clear {
      clear: both;
    }
  }
}

.minipalette {
  width: @paletteColorWidth;
  height: @paletteColorHeight;
  margin-left: 0px;
}

.rg-builder,
.ui-pnotify-text
{
  .chart-icon {
    display: inline-block;
    width: 26px;
    height: 24px;
    background-image: url("../images/sprites-chart.png");
  }
  .chart-icon.icon-sankey {
    background-position: 0 @chartIconSize * -0;
  }
  .chart-icon.icon-linechart {
    background-position: 0 @chartIconSize * -1;
  }
  .chart-icon.icon-areachart {
    background-position: 0 @chartIconSize * -2;
  }
  .chart-icon.icon-stacked-percent-areachart {
    background-position: 0 @chartIconSize * -3;
  }
  .chart-icon.icon-stacked-areachart {
    background-position: 0 @chartIconSize * -4;
  }
  .chart-icon.icon-barchart {
    background-position: 0 @chartIconSize * -5;
  }
  .chart-icon.icon-stacked-barchart {
    background-position: 0 @chartIconSize * -6;
  }
  .chart-icon.icon-piechart {
    background-position: 0 @chartIconSize * -7;
  }
  .chart-icon.icon-donutchart {
    background-position: 0 @chartIconSize * -8;
  }
  .chart-icon.icon-leaderboard {
    background-position: 0 @chartIconSize * -9;
  }
  .chart-icon.icon-funnelchart {
    background-position: 0 @chartIconSize * -10;
  }
  .chart-icon.icon-streamgraph {
    background-position: 0 @chartIconSize * -11;
  }
  .chart-icon.icon-heatgrid {
    background-position: 0 @chartIconSize * -12;
  }
  .chart-icon.icon-pivottable {
    background-position: 0 @chartIconSize * -13;
  }
  .chart-icon.icon-geochart {
    background-position: 0 @chartIconSize * -14;
  }
}

.ui-pnotify-text {
  .menu {
    span {
      display: inline-block;
      vertical-align: middle;
    }

    span.text {
      margin-left: 0.5em;
    }
    cursor: pointer;

    .palette-item {

      .palette {
        float: right;
      }
    }
  }
}

.rg-dimension-dragger {
  overflow: visible !important;
}

.rg-dimension-trashbin {
  position: absolute;
  border-radius: 10px;
  .dimension-trash.ui-state-default.ui-sortable {
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/trash.png);
  }
  ul {
    width: 200px;
    height: 32px;
    .dimension-placeholder {
      width: 32px;
      height: 32px;
      display: inline-block;
      background-color: transparent;
      background-image: none;
    }
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li,
  a {
    visibility: hidden;
  }
}
.rg-remove-draggable {
  border: 8px solid red !important;
}

.rg-widget {
  font-size: 73%;
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  /*
  ul.menu-items {
      margin: 0;
      padding: 0;
      list-style: none;

      li > a {
          display: block;
          left: 0;
          right: 0;
          position: relative;
      }
  }
  */
}

.rg-widget.context-menu {
  z-index: 10000;
  position : absolute;
  display: none;
}

.miniColors-huePicker,
.miniColors-opacityPicker {
  width: 16px;
}

.miniColors-trigger,
.miniColors-triggerWrap {
  width: 16px;
  height: 16px;
}

.miniColors-triggerWrap {
  background: url("jquery-minicolors/images/trigger-custom.png") -16px 0 no-repeat;
}

.miniColors-trigger {
  vertical-align: middle;
  outline: none;
  background: url(jquery-minicolors/images/trigger-custom.png) 0 0 no-repeat;
}


.ui-dialog .ui-dialog-content.rg-dialog-export {
  overflow: hidden;
}
.rg-el.ui-widget .rg-dialog-export .rg-toolbar.rg-actions,
.rg-el.ui-widget .rg-dialog-export .rg-toolbar.rg-options
{
  text-align: center;
}

.rg-el.ui-widget .rg-dialog-export .rg-toolbar.rg-options
{
  margin-top: 4px;
}

.rg-el.ui-widget .rg-dialog-export textarea {
  resize: none;
  font-family: monospace;
  font-size: 13px;
  line-height: 16px;
  width: 799px;
  height: 324px;
  margin-top: 4px;
  padding: 0;
  border: 0;
}

.rg-el.ui-widget .rg-dialog-export textarea:focus {
  outline: 0;
}